.pages {
    width: 1277px;
    display: flex;
    justify-content: space-between;
}
.container {
    width: 1177px;
}
.blocks {
    width: 550px;
}
h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
}

.item {
    width: 550px;
}
.img {
    width: 545px;
}

p {
    padding-top: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-feature-settings: "pnum" on, "lnum" on, "liga" off;
    color: #000000;
}

.block {
    width: 1277px;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 1177px;
}
.photos {
    width: 420px;
}
.photos img {
    width: 360px;
}
.photos p {
    padding-top: 6px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-feature-settings: "pnum" on, "lnum" on, "liga" off;
    color: #000000;
}


.advertising{
    width: 1277px;
    padding-top: 50px;
}
.container{
    max-width: 1177px;
}
.images{
    width: 950px;
    height: 90px;
    padding-bottom: 50px;

}
.box{
    width: 1277px;
}
.container{
    max-width: 1177px;
}
